<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Chart Examples
  </h1>
</div>

<h2>Line-Chart</h2>
<google-chart [data]="lineChartData"></google-chart>

<h2>Line-Chart</h2>
<google-chart [data]="lineChartData"></google-chart>

<br/>
<br/>

<h2>Pie-Charts</h2>
<google-chart [data]="pieChartData"></google-chart>

<h2>Timeline</h2>
<google-chart [data]="timelineChartData"></google-chart>

<h2>Table</h2>
<google-chart [data]="tableChartData"></google-chart>


<h1>Highchart Examples</h1>

<div [chart]="chart"></div>
